<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">WIDGET GALLERY</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li>
        <%= link_to "LOGIN", login_path, remote: true %>
        <a class="primary teal waves-light btn waves-effect">LOGIN</a>
      </li>
    </ul>
  </div>
</nav>
