<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">WIDGET GALLERY</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li>
        <%= link_to "LOGIN", login_path, remote: true unless is_logged_in? %>
        <%= link_to "LOGOUT", logout_path, method: :delete if is_logged_in? %>
      </li>
    </ul>
  </div>
</nav>
