<div class="col-12 mt-4 mb-4">
<%= form_with(method: "get", autocomplete: 'off',class:'form-horizontal', local: true) do %>
  <div class="input-group">
    <%= search_field_tag :term, params[:term] , class: 'form-control', placeholder: "Search" %>
    <span class="input-group-btn ml-2">
      <%= button_tag("Search", type: "submit", class: "btn btn-primary") %>
    </span>
  </div>
<% end %>
</div>
