<form class="col s12" method="get">

  <div class="row center-align search-bar-holder">
    <div class="input-field col s11">
      <%= search_field_tag :term, params[:term] %>
    </div>
    <div class="col s1 input-field">
      <button class="btn waves-effect waves-light" type="submit">Search</button>
    </div>
  </div>
</form>
