<div class="col-4 p-2">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= widget.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Author:
        <% if logged_in? %>
          <%= link_to widget.user.full_name, user_widgets_path(widget.user.id)%>
        <% else %>
          <%= widget.user.full_name %>
        <% end %>
      </h6>
      <p class="card-text"><%= widget.description %></p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

</div>
