<div class="widgets-index row">

  <%= render 'shared/search_bar' %>
  <div class="col-12">
    <div class="row">
      <%= render partial: "widget", collection: @widgets %>
    </div>
  </div>
</div>